<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#home">BWare 2019</a>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#dates">Important dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#topics">Topics of interest</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="" fragment="'user-submission-testimonials'"> Submission</a>
                
            </li>
            <li class="nav-item ">
                    <a class="nav-link" href="#committee">Committee</a>
                </li>  
            <li class="nav-item ">
                <a class="nav-link" href="#organizers">Organizers</a>
            </li>
          
            <li class="nav-item ">
                <a class="nav-link" href="#program">Program</a>
            </li>                        
        </ul>
    </div>
</nav>