<div class="wrapper">
    <div class="page-header-small section-dark" style="background-image: url('assets/img/fundo.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div>
                        <img src="assets/img/logo.png" alt="BWare 2019">
                    </div>
                    <h1 class="presentation-title"></h1>

                </div>

                <h2 class="presentation-subtitle text-center"><b>Salvador, Brazil</b></h2>
                <h2 class="presentation-subtitle text-center"><b>September 23rd-27th, 2019</b></h2>
                <br />
            </div>
        </div>
    </div>

</div>
<div class="main">
    <div class="section">
        <div class="container ">

            <h2 class="title text-center">I Brazilian Workshop on lArge-scale cRitical systEms BWare 2019</h2>
            <h5 class="description text-center">Co-located with <a href="http://cbsoft2019.ufba.br" target="_blank">X
                    Brazilian Conference on Software: Theory and Practice (CBSoft) </a></h5>
            <br>

            <h5 class="description">
                Brazilian Workshop on lArge-scale cRitical systEms (BWare) aims to bring together researchers, students
                and professionals from Brazil and abroad interested in issues related to Large-scale Critical Systems
                (LSCS).
                LSCS have become increasingly common, especially if we consider the emerging needs of using software to
                mitigate relative risks and proactively act to prevent and assist large-scale environmental and urban
                disasters such as fires, floods, landslides, and dam breaks.
                LSCS use is not restricted to disasters and it is becoming a system of major importance in several other
                scenarios, such as smart cities and smart agriculture, Industry 4.0 and e-health. If, on the one hand,
                it is of the utmost importance that these systems have high quality in order to avoid as much as
                possible a failure, on the other hand, we also must to provide mechanisms to react to failures that
                result in a major event and to manage them efficiently and effectively to minimize the damage.
            </h5>
            <h5 class="description">
                We invite the scientific community, industry, and other practitioner communities interested in this area
                submit a paper that relates experience as well as scientific and theoretical research details. We will
                mainly consider works related to emergencies and disasters prevention and emergencies and disasters risk
                management in the domains of cities and smart farms, Industry 4.0 and e-health; however, other related
                and/or similar areas will also be taken into account.

            </h5>

            <br /><br />
        </div>
    </div>
    <div class="section section-dark">
        <div class="container">
            <h2 class="title text-center">Important dates</h2>
            <h5 class="info-title"><b>Submission:</b> July, 8th (firm)</h5>
            <h5 class="info-title"><b>Notification:</b> August, 6h</h5>
            <h5 class="info-title"><b>Camera-ready:</b> August, 13</h5>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="title text-center">Topics of interest</h2>
            <h5 class="description">BWare 2019 topics of interest include (but are not limited to) the following aspects
                for large-scale critical systems:</h5>


            <ul class="description">
                <li>LSCS Architecture and Modeling</li>
                <li>Requirements Engineering for LSCS</li>
                <li>Formal Methods for LSCS</li>
                <li>LSCS Software Verification, Validation, and Testing</li>
                <li>LSCS Reliability and Security</li>
                <li>LSCS Dynamic Architectures</li>
                <li>Self-adaptive systems in the context of LSCS</li>
                <li>Systems-of-Systems, Information Systems-of-Systems and Software Ecosystems in LSCS domains</li>
                <li>Simulation of LSCS</li>
                <li>Advanced Methods for Detection, Fault Tolerance, and Debugging of LSCS </li>
                <li>Software quality, metrics and measures, quality/reliability estimation and prediction of LSCS </li>
                <li>Reliability, resilience, and survival capacity studies of LSCS</li>
                <li>Automation and tools to support LSCS </li>
                <li>Case studies, applications and experimentation of LSCS</li>
                <li>Experiences reports in SCLE</li>
                <li>Techniques, methods and processes for SCLE development</li>
                <li>Systems for Citizen Engagement in SCLE Contexts</li>
                <li>SCLE to support environmental modeling</li>

            </ul>
        </div>
    </div>
    <div class="section section-dark">
        <div class="container">
                <h2 class="title text-center">Submission</h2>


                    <div class="description">

                            <h5 class="description">In this workshop edition, we will accept submissions for two categories:</h5>

                            <h5 class="description"> <b>Full technical papers: </b>We welcome papers with 6 to 8 pages describing works and tools with partial or complete results already obtained. We hope that in these papers the research problem, the proposed solution, the form of evaluation, the results obtained and the comparison with related works are clear.</h5>
                            <h5 class="description"> <b>Short papers: </b>We welcome papers with 2 to 4 pages describing ongoing research to enable attendees at different stages in their research process to participate in the workshop.</h5>
                       
                        <br>
                    </div>

                    <h4 class="title">Submission Format</h4>
                    <div class="description">
                            <h5 class="description"> Papers can be written either in Portuguese or in English. Submissions must conform to ACM format for conferences, available at https://www.acm.org/publications/proceedings-template. The pages numbers must be within the minimum and maximum limits established for each submission category, including title, authors data, authors affiliates, abstract, sections, figures, tables, frames, references and attachments. All papers will be reviewed by at least three members of the program committee. The two work categories should be submitted in pdf format through the Easy Chair submissions system.</h5>
                            
                            <h5 class="description"> Judging criteria for technical papers are suitability for workshop scope, relevance, technical quality, presentation clarity, and originality. The validation of the results is desirable, but it is not a precondition for submitting papers to the workshop. Papers should present comparisons with other relevant works in the field. Theoretical papers should emphasize the contribution to one of the great areas of CBSoft: Software Engineering, Software Testing, or Software Components, Architectures, and Reuse. Papers on practical experiments should describe the method used and interpret the qualitative and quantitative results. </h5>
                            
                    </div>


        </div>
    </div>
    <div class="section">
            <div class="container">
                <h2 class="text-center">Committee</h2>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="description">
                            <h4 class="info-title">Steering Committee</h4>
                            <br>
                            <div>
                                <ul>
                                    <li>Bruna Diirr (UNIRIO) </li>
                                    <li>Felicita Di Giandomenico (ISTI/CNR)</li>
                                    <li>Flávio Eduardo Aoki Horita (UFABC)</li>
                                    <li>Marcos Roberto da Silva Borges (UFRJ)</li>
                                    <li>Valdemar Graciano Neto (UFG)</li>
                                    <li>Vânia de Oliveira Neves (UFF)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="description">
                            <h4 class="info-title">Program Committee</h4>
                            <br>
                            <h5 class="info">To be announced</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    <div class="section section-dark  text-center">
        <div class="container">
            <h2 class="title">Organizers</h2>
            <div class="row">

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/bruna.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#bruna">
                                <div class="author">
                                    <h4 class="card-title">Bruna Diirr</h4>
                                    <h6 class="card-category">UNIRIO</h6>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a href="mailto:brunadiirr@gmail.com" target="_blank"
                                class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-envelope"></i></a>
                            <a href="#" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="nc-icon nc-atom"></i></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/flavio.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Flávio Horita</h4>
                                    <h6 class="card-category">UFABC</h6>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a href="mailto:feahorita@gmail.com" target="_blank"
                                class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-envelope"></i></a>
                            <a href="#" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="nc-icon nc-atom"></i></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="http://www.ic.uff.br/~vania" target="_blank"><img src="./assets/img/vania.jpg"
                                    alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="http://www.ic.uff.br/~vania" target="_blank">
                                <div class="author">
                                    <h4 class="card-title">Vânia Neves</h4>
                                    <h6 class="card-category">UFF</h6>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a href="mailto:vania@ic.uff.br" target="_blank"
                                class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-envelope"></i></a>
                            <a href="https://www.linkedin.com/in/vaniaoneves/" target="_blank"
                                class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            <a href="http://lattes.cnpq.br/1527901631481888" target="_blank"
                                class="btn btn-link btn-just-icon btn-neutral"><i class="nc-icon nc-atom"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 

    <div class="section ">
        <div class="container">
            <h2 class="title text-center">Program</h2>
            <h4 class="info-title">To be defined</h4>
        </div>
    </div>
</div>